<h1>This is the sercret page</h1>
<p>You found me</p>
<img src="https://api.creativecommons.engineering/v1/thumbs/ca912e01-aab4-4230-b713-317e9db47f77" alt="">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>